@model Bigschool.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Attending</h2>
    <ul class="course">
        @foreach (var course in Model.UpcomingCourses)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("dd")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("MM")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @course.Lecturer.Name
                    </span>
                    <br />
                    <span class="category">
                        @course.Category.Name
                    </span>
                    <a href="#" class="btn btn-default btn-sm js-toggle-cancel" data-user-id="@course.CategoryId">cancel</a>
                    
                </div>
            </li>
        }
    </ul>

@section scripts
{
    <script>
            $(document).ready(function () {
                $(".js-toggle-cancel").click(function (e) {
                    e.preventDefault();d
                    var link = $(e.target);
                    bootbox.confirm("Are you sure to cancel?",
                        function () {
                            $.ajax({
                                url: "/api/delete/" + link.attr("data-course-id"),
                                method: "DELETE"
                            })
                                .done(function () {
                                    link.parent("li").fadeOut(function () {
                                        $(this).remove();
                                    })
                                })
                                .fail(function () {
                                    alert("Something failed!");
                                });
                        });
                });
        });
               
    </script>
}

